/* Add this CSS in your file or <style> tag */

.rotating-bg {
  background-size: cover;
  animation: slow-spin 120s ease-in-out infinite;
  border-radius: 50%;
  width: 100%;
}

/* Keyframes for rotation with a pause effect */
@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(180deg); /* Pause effect */
  }
  100% {
    transform: rotate(360deg);
  }
}

.nice-scrollbar {
  scrollbar-width: thin; /* Firefox: makes the scrollbar thinner */
  scrollbar-color: #888888 #f1f1f1; /* Firefox: scrollbar and track colors */
}

.nice-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Scrollbar height for horizontal scrolling */
}

.nice-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded edges */
}

.nice-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.nice-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
  border-radius: 10px;
}

.smooth-scroll {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}