@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --amber1:#fef3c7;
  --sky2:#bae6fd;
  --sky3:#7dd3fc;
  --white_op:rgba(255, 255, 255, 0.15);
  --white_op2:rgba(255, 255, 255, 0.65);
  --background:#008F8C;
  --background_light:#F2F2F2;
  --secondary: #308C6A;
  --highlight:#52F2A8;
  --headline:#023535;
  --text: #023535;
  --white: #FFFFFF;
  --black: #000 ;
  --red: #FF0800;

  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: "none";
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit; 
/*   outline: 1px solid red; */
}
a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}